@media only screen and (max-device-width: 500px )
{
    body {
        margin : 0px ;
        display: flex ;
        flex-direction: column ;
    }

    .header {
        display: flex ;
        flex-direction: row;
        background-color: #E7473C;
    }
    .logo-staf {
        flex: 1;
        display: flex ;
        flex-direction: row;
    }
    .hanieh-title {
        flex: 2 ;
        display: flex ;
        justify-content: center ;
        align-items: center ;
        font-family: monospace;
        font-size: 1rem ; 
    }
    .space-right {
        flex: 1 ;
    }
    .logo-content {
        flex: 1 ;
        padding: 1rem ;
    }
    .logo {
        border-radius: 0.3rem ;
        height: 4rem ;
        width: 4rem ;
        object-fit: cover;
        object-position: center;
    }


    .main {
        display: flex ;
        flex-direction: column;
        background-color: white ;
        justify-content: center;
        align-items: center;
        margin-top: 7rem ;
    }
    .all-btn {
        padding: 2rem ;
        background-color: #E7473C;
        border-radius: 0.5rem ;
        text-align: center;
    }
    button {
        padding: 0.7rem 1.7rem ;
        margin-top: 0.8rem ;
        border: none;
        font-size: 0.9rem;
        font-family: monospace;
        border-radius: 0.2rem ;
        font-weight: bold;
        transition: opacity 0.15s ;
    }
    button:hover {
        opacity: 85% ;
    }
    button:active {
        opacity: 95% ;
    }
}




@media only screen and (min-device-width: 500px )
{
    body {
        margin: 0px ;
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex ; 
        flex-direction: row;
        background-color: #E7473C ;
    }
    .logo-staf {
        flex: 2;
        display: flex ;
        flex-direction: row;
        padding: 1rem ;
    }
    .hanieh-title {
        display: flex ;
        justify-content: center;
        align-items: center;
        flex : 3 ;
        font-size: 2rem ;
        font-family: monospace;
    }
    .logo-content {
        flex: 1;
    }
    .logo {
        height: 10rem ;
        width: 10rem ;
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem ;
    }
    .content-creator {
        background-color: red ;
        flex: 1;
    }
    .space-right {
        flex: 1;
    }

    .main {
        display: flex ;
        flex-direction: column;
        background-color: white ;
        justify-content: center;
        align-items: center;
        margin-top: 8rem ;
    }
    .all-btn {
        background-color: #E7473C;
        padding: 4rem ;
        border-radius: 0.7rem ;
        text-align: center;
        display: flex ;
        flex-direction: column;
    }
    button {
        padding: 1.2rem 2.2rem ;
        margin-top: 0.9rem ;
        border: none;
        font-size: 1rem;
        font-family: monospace;
        border-radius: 0.2rem ;
        font-weight: bold;
        transition: opacity 0.15s ;
    }
    button:hover {
        opacity: 85% ;
    }
    button:active {
        opacity: 95% ;
    }
    
}