@media only screen and (max-device-width: 500px )
{
    body {
        margin : 0px ;
        display: flex ;
        flex-direction: column ;
    }

    .header {
        display: flex ;
        flex-direction: row;
        background-color: #E7473C;
    }
    .logo-staf {
        flex: 1;
        display: flex ;
        flex-direction: row;
    }
    .hanieh-title {
        flex: 2 ;
        display: flex ;
        justify-content: center ;
        align-items: center ;
        font-family: monospace;
        font-size: 1rem ; 
    }
    .space-right {
        flex: 1 ;
    }
    .logo-content {
        flex: 1 ;
        padding: 1rem ;
    }
    .logo {
        border-radius: 0.3rem ;
        height: 4rem ;
        width: 4rem ;
        object-fit: cover;
        object-position: center;
    }

    .main {
        display: flex ;
        flex-direction: column;
    }
    .form-data {
        margin-top: 3rem ;
        padding: 0.7rem ;
        border-radius: 0.2rem ;
        background-color: #E7473C;

        display: flex;
        flex-direction: column;
    }
    .form-edit {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem ;
    }
    .title {
        font-size: 1.1rem ;
        border: none;
        border-radius: 0.1rem ;
    }
    .description {
        border: none;
        border-radius: 0.1rem ;
        font-weight: bold;
    }
    .paint-image {
        height: 5rem ;
    }
    input::file-selector-button {
        font-family: monospace;
        font-weight: bold;
        font-size: 1rem ;
        margin-right: 0.5rem ;
        background-color: white;
        font-weight: bold;
        color: #323232;
        padding: 0.25em;
        border: none;
        border-radius: 0.2rem;
    }
    .edit {
        padding: 0.3rem 1rem ;
        border-radius: 0.1rem ;
        font-size: 0.8rem ;
        font-family: monospace;
        border: none;
        font-weight: bold;
    }
    .extra-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem ;
    }
    .back-btn {
        padding: 0.5rem 1rem ;
        border: none;
        border-radius: 0.1rem ;
        font-family: monospace;
        font-weight: bold;
        color: #E7473C;
        background-color: #323232;
    }
}

@media only screen and (min-device-width: 500px )
{
    body {
        margin: 0px ;
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex ; 
        flex-direction: row;
        background-color: #E7473C ;
    }
    .logo-staf {
        flex: 2;
        display: flex ;
        flex-direction: row;
        padding: 1rem ;
    }
    .hanieh-title {
        display: flex ;
        justify-content: center;
        align-items: center;
        flex : 3 ;
        font-size: 2rem ;
        font-family: monospace;
    }
    .logo-content {
        flex: 1;
    }
    .logo {
        height: 10rem ;
        width: 10rem ;
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem ;
    }
    .content-creator {
        background-color: red ;
        flex: 1;
    }
    .space-right {
        flex: 1;
    }


    .main {
        display: flex ;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .paint-image {
        height: 100% ;
        width: 100% ;
        max-height: 10rem ;
        max-width: 10rem ;
        border-radius: 0.2rem ;
    }
    .form-data {
        background-color: #E7473C;
        margin-top: 2rem ;

        display: flex;
        flex-direction: column;
        padding: 2rem ;
        border-radius: 0.3rem ;
        font-family: monospace;
    }
    .form-edit {
        display: flex;
        flex-direction: column;
        row-gap:1rem ;
    }
    .title {
        font-family: monospace;
        font-weight: bold;
        border: none;
        border-radius: 0.1rem;
        font-size: 1.2rem ;
        padding: 0.2rem 0.7rem;
    }
    .description {
        font-family: monospace;
        font-weight: bold;
        font-size: 1rem ;
        border: none;
    }
    input::file-selector-button {
        font-family: monospace;
        font-weight: bold;
        font-size: 1rem ;
        margin-right: 0.5rem ;
        background-color: white;
        font-weight: bold;
        color: #323232;
        padding: 0.4em;
        border: none;
        border-radius: 3px;
    }
    .edit-btn {
        display: flex;
    }
    .edit {
        padding: 0.3rem 2rem  ;
        border: none;
        border-radius: 0.2rem ;
        background-color: white;
        font-family: monospace;
        font-weight: bold;
    }

    .extra-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem ;
    }
    .back-btn {
        padding: 0.4rem 1.1rem ;
        border: none ;
        background-color: #323232;
        color: #E7473C;
        border-radius: 0.2rem ;
    }
}


textarea {
    resize: none;
}