@media only screen and (max-device-width: 500px )
{
    body {
        margin : 0px ;
        display: flex ;
        flex-direction: column ;
    }

    .header {
        display: flex ;
        flex-direction: row;
        background-color: #E7473C;
    }
    .logo-staf {
        flex: 1;
        display: flex ;
        flex-direction: row;
    }
    .hanieh-title {
        flex: 2 ;
        display: flex ;
        justify-content: center ;
        align-items: center ;
        font-family: monospace;
        font-size: 1rem ; 
    }
    .space-right {
        flex: 1 ;
    }
    .logo-content {
        flex: 1 ;
        padding: 1rem ;
    }
    .logo {
        border-radius: 0.3rem ;
        height: 4rem ;
        width: 4rem ;
        object-fit: cover;
        object-position: center;
    }

    .main {
        display: flex ;
        flex-direction: column ;
        justify-content: center ;
        align-items: center;
    }
    .form-upload-data {
        display: flex;
        flex-direction: column;
        background-color: #E7473C;
        margin-top: 4rem ;
        padding: 1.5rem ;
        border-radius: 0.3rem ;
    }
    .title {
        font-family: monospace;
        font-size: 1rem ;
        padding: 0.3rem ;
        border: none ;
        border-radius: 0.1rem ;
    }
    .upload-info {
        margin-bottom: 0.5rem ;
    }
    .upload-textarea {
        font-family: monospace;
        margin-bottom: 0.5rem ;
    }
    .description {
        padding: 0.2rem ;
        font-weight: bold;
        border: none;
        border-radius: 0.1rem ;
    }
    .form-upload {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem ;
    }
    .upload-paint {
        margin-bottom: 0.5rem ;
        font-family: monospace;
    }
    .upload-btn {
        border: none;
        color: #323232;
        padding: 0.4rem 1.3rem ;
        border-radius: 0.1rem ;
        font-weight: bold;
    }
    .cancel-btn {
        background-color: #323232;
        color: #E7473C;
        font-family: monospace;
        border: none;
        border-radius: 0.1rem ;
        padding: 0.3rem 0.8rem ;
    }
    .extra-btns {
        display: flex;
        margin-top: 2rem ;
        justify-content: center;
    }
    input::file-selector-button {
        font-family: monospace;
        font-weight: bold;
        font-size: 1rem ;
        margin-right: 0.5rem ;
        background-color: white;
        font-weight: bold;
        color: #323232;
        padding: 0.3em;
        border: none;
        border-radius: 0.15rem ;
    }
}

@media only screen and (min-device-width: 500px )
{
    body {
        margin: 0px ;
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex ; 
        flex-direction: row;
        background-color: #E7473C ;
    }
    .logo-staf {
        flex: 2;
        display: flex ;
        flex-direction: row;
        padding: 1rem ;
    }
    .hanieh-title {
        display: flex ;
        justify-content: center;
        align-items: center;
        flex : 3 ;
        font-size: 2rem ;
        font-family: monospace;
    }
    .logo-content {
        flex: 1;
    }
    .logo {
        height: 10rem ;
        width: 10rem ;
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem ;
    }
    .content-creator {
        background-color: red ;
        flex: 1;
    }
    .space-right {
        flex: 1;
    }




    .main {
        display: flex ;
        flex-direction: column ;
        justify-content: center ;
        align-items: center;
    }
    .form-upload-data {
        display: flex;
        flex-direction: column;
        background-color: #E7473C;
        margin-top: 5rem ;

        padding: 1.5rem ;
        border-radius: 0.3rem ;
    }
    .form-upload {
        display: flex ;
        flex-direction: column;
        margin-bottom: 5rem ;
    }
    .upload-info {
        display: flex;
        flex-direction: row;
        margin-bottom: 2.5rem ;
    }
    .title {
        padding: 0.6rem 4.9rem ;
        padding-left: 0.3rem  ;
        font-family: monospace;
        font-size: 1.2em;
        font-weight: bold;
        border: none;
        border-radius: 0.2rem ;
    }
    .upload-textarea {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem ;
    }
    .description {
        font-family: monospace;
        font-size: 1.25em;
        font-weight: bold;
        border: none;
        padding: 0.5rem ;
        border-radius: 0.2rem ;
    }
    .upload-paint {
        display: flex;
        font-family: monospace;
        margin-bottom: 3rem ;
    }
    .image-input {
        font-size: 0.8rem ;
        font-family: monospace;
        font-weight: bold;
    }
    input::file-selector-button {
        font-family: monospace;
        font-weight: bold;
        font-size: 1rem ;
        margin-right: 0.5rem ;
        background-color: white;
        font-weight: bold;
        color: #323232;
        padding: 0.7em;
        border: none;
        border-radius: 3px;
    }
    .btns {
        display: flex;
        flex-direction: row;
    }
    .upload-btn {
        background-color: white;
        padding: 0.7rem 1.5rem ;
        border: none;
        border-radius: 0.2rem ;
    }
    .extra-btns {
        display: flex;
        justify-content: center;
    }
    .cancel-btn {
        padding: 0.4rem 1rem ;
        font-family: monospace;
        color: #E7473C;
        font-weight: bold;
        background-color: #323232;
        border: none;
        border-radius: 0.2rem ;
    }
}




.html-alert {
    position: fixed;
    height: 70px;
    width: 100px;
    background-color: lightcoral;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.html-alert-create {
    position: fixed;
    height: 70px;
    width: 100px;
    background-color: lightgreen;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.alert-h {
    flex: 1;
    font-size: 15px;
    align-items: center;
    padding: 10px;
}