body {
    margin: 0px ;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
a:active {
    color: black ;
}
button {
    cursor: pointer;
    transition: opacity 0.15s , background-color 0.15s ;
}
button:hover {
    background-color: rgb(231, 231, 231)
}
button:active {
    opacity: 80% ;
}

.header {
    height: 100px ;

    display: flex ;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center ;
    background-color: lightsteelblue;
}
.left-sec {
    height: 100px ;
    flex: 1;

    display: flex ;
    flex-direction: row;
    justify-content: center ;
    align-items: center ;
}
.hanieh-logo {
    height: 20px ;
    margin-left: 10px ;
    margin-right: 10px ;
}
.burger-logo {
    height: 25px ;
    margin-left: 10px ;
    margin-right: 10px ;
}

.middle-sec {
    height: 100px ;
    flex: 1;

    display: flex ;
    flex-direction: row;
    justify-content: center ;
    align-items: center ;
}
.title-web {
    padding: 10px ;
    font-size: 20px ;
}
.right-sec {
    height: 100px ;
    flex: 1;

    display: flex ;
    flex-direction: row;
    justify-content: center ;
    align-items: center ;
}


.main-div {
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    margin: 10px 15px ;
    justify-content: left;
    align-items: center;
    padding: 10px ;
    border-radius:  5px ;
}
ol {
    padding: 0px ;
}
.paint-obj {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    padding: 12px ;
    border-radius: 5px ;
    margin-bottom: 10px  ;
}
button {
    padding: 10px 15px ;
    margin: 3px ;
    border: none;
    border-radius: 3px ;
}
.img-obj{
    height: 50px ;
    margin-right: 8px ;
    border-radius: 3px ;
}
.title-obj {
    margin-right: 8px ;
}
.date-obj {
    margin-right: 10px ;
}
.edit-btn {
    background-color: lightgoldenrodyellow;
}
.delete-btn {
    background-color: lightcoral;
}
