@using Data.ViewModels
@model DeletePaintVm
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/Admin/deletePanel.css" rel="stylesheet">
    <title>Delete Page</title>
</head>
<body>
    <div class="header">
        <div class="left-sec">
            <a class="a-burger" href="#">
                <img src="/icon/hamburger-menu.svg" class="burger-logo">
            </a>
            <img src="/icon/youtube-logo.svg" class="hanieh-logo">
        </div>
        <div class="middle-sec">
            <div class="title-web">HANIEH</div>
        </div>
        <div class="right-sec"></div>
    </div>

    <div class="main-div">
        <div class="left-d"></div>
        <form class="form-c" method="post">
            <img class="img-del" src="/paintImage/@Model.PaintImageName">
            <input asp-for="PainyId" value="@Model.PainyId" hidden>
            <input type="text" value="@Model.PaintName" readonly>
            <button type="submit">Delete</button>
            <a href="#">
                <button class="cancel-btn">Cancel</button>
            </a>
        </form>
        <div class="right-d"></div>
    </div>
</body>
</html>