@using Data.ViewModels
@model EditPaintVm

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/Admin/editPage.css" rel="stylesheet">
    <title>Edit Page</title>
</head>
<body>
    <div class="header">
        <div class="left-sec">
            <a class="a-burger" href="#">
                <img src="/icon/hamburger-menu.svg" class="burger-logo">
            </a>
            <img src="/icon/youtube-logo.svg" class="hanieh-logo">
        </div>
        <div class="middle-sec">
            <div class="title-web">HANIEH</div>
        </div>
        <div class="right-sec"></div>
    </div>

    <div class="main-div">
        <div class="left-div"></div>
        <div class="form-div">
            <form class="form-c" method="post">
                <img src="/paintImage/@Model.oldImageName" class="paint-image">
                <input hidden asp-for="PaintId" value="@Model.PaintId" class="paintId">
                <input asp-for="NewPaintCover" type="file" class="paint-input">
                <input asp-for="NewPaintName" type="text" value="@Model.NewPaintName" class="title">
                <textarea asp-for="NewDescription" class="descrption" cols="34" rows="10">@Model.NewDescription</textarea>
                <div class="btn-div">
                    <button type="submit" class="edit">Edit</button>
                    <a asp-area="Admin"  asp-controller="AdminHome" asp-action="Main">
                        <button>Back</button>
                    </a>
                </div>

            </form>
        </div>
        <div class="right-div"></div>
    </div>
</body>
</html>